<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <h2>文章管理</h2>
      <ul>
        <li><a href="/list">文章列表</a></li>
        <li><a href="/show">文章显示</a></li>
      </ul>
    </div>
    <div>
      <h2>用户管理</h2>
      <ul>
        <li><a href="users/list">用户列表</a></li>
        <li><a href="users/show">用户显示</a></li>
      </ul>
    </div>
    <div>
      <h2>分类管理</h2>
      <ul>
        <li><a href="cate/list">用户列表</a></li>
        <li><a href="cate/show">用户显示</a></li>
      </ul>
    </div>
    <div>
      <h2>response方法</h2>
      <ul>
        <li><a href="/demo1">res.send()方法</a></li>
        <li><a href="/demo2">res.render()方法</a></li>
        <li><a href="/demo3">res.redirect()方法</a></li>
        <li><a href="/demo4">res.json()方法</a></li>
      </ul>
    </div>
    <div>
      <h2>request方法</h2>
      <ul>
        <li><a href="/demo5/tom/18">req.params方法</a></li>
        <li><a href="/demo6/?user=tom&age=18">req.query方法</a></li>
        <li><a href="/login">登录操作 req.body</a></li>
      </ul>
    </div>
  </body>
</html>
